:root {
    --image-scale: 256px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(200, 200, 200);
    touch-action: manipulation;
}

body {
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    margin: 0;
}

#loading {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(30, 30, 30);
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

#logo {
    max-width: 20vw;
    animation: logoSpin 3s linear infinite;
    transform-origin: center;
    filter: hue-rotate(120deg) saturate(0) brightness(3);
    transition: filter 0.3s;
}

#app {
    display: none;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    position: relative;
}

#sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

#langToggle {
    visibility: hidden;
    border: none;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(200, 200, 200);
    user-select: none;
    cursor: pointer;
    padding: 0.2em;
    outline: 0.1em solid transparent;
    transition-duration: 0.2s;
    transition-property: color, outline-color;
}

#langToggle:hover {
    color: rgb(120, 50, 255);
}

#langToggle:focus {
    outline-color: rgb(30, 220, 0);
}

#appInfoBtn {
    visibility: hidden;
    font-size: 40px;
    background-color: transparent;
    width: 1.5em;
    height: 1.5em;
    color: rgb(200, 200, 200);
    border-radius: 50%;
    border: 0.1em solid rgb(50, 50, 255);
    user-select: none;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: color, background-color;
}

#app:has(#appInfoCont.visible, #unitGraphCont.visible) #appInfoBtn {
    background-color: rgba(50, 50, 200, 0.4);
    color: rgb(200, 50, 100);
}

#settingsBtn {
    visibility: hidden;
    position: absolute;
    top: 2em;
    left: 0;
    border: none;
    user-select: none;
    cursor: pointer;
    padding: 0.2em;
    outline: 0.1em solid transparent;
    transition: outline-color 0.2s;
}

#settingsBtn path {
    fill: rgb(200, 200, 200);
    transition-duration: 0.2s;
    transition: fill 0.2s;
}

#settingsBtn:hover path {
    fill: rgb(120, 50, 255);
}

#itemsContainer {
    min-height: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
}

#itemListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden auto;
}

#overlaysBackground {
    background-color: rgba(10, 10, 10, 0.8);
    position: absolute;
    width: calc(100% - 3rem);
    height: 95%;
    padding: 2.5% 3rem 2.5% 3rem;
    visibility: hidden;
}

#overlays {
    width: 100%;
    height: 100%;
    position: relative;
}

#overlaysBackground:has(#overlays > div.visible) {
    visibility: visible;
}

#overlays > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#overlays > div:not(.visible) {
    visibility: hidden;
}

.iconCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.iconCont:hover > .basicIcon {
    transform: scale(1.1);
}

.iconCont:hover .itemInfo {
    opacity: 1;
}

.infoCont {
    position: absolute;
    width: 100%;
    min-height: 2em;
}

.itemInfo {
    opacity: 0;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 5;
    font-size: 1.5rem;
    text-align: center;
    pointer-events: none;
}

.basicIcon {
    transition: transform 0.3s;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    --icon-scale: 1;
    width: calc(var(--image-scale) * var(--icon-scale));
    height: calc(var(--image-scale) * var(--icon-scale));
}

.scale-035 {
    --icon-scale: 0.35;
}

.scale-05 {
    --icon-scale: 0.5;
}

.accessCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
}

#inputContainer {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

#inputContainer:not(.pathCont:has(.pathItem)) {
    gap: 1rem;
}

#primaryItem, #secondaryItem {
    font-size: 1.5rem;
    min-height: 5em;
    max-width: calc(var(--image-scale) * 1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pathCont, #secondaryItem {
    display: none;
}

#pathCont {
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    word-wrap: break-word;
    flex-wrap: wrap;
    margin: 0 0.3rem;
}

.pathItem {
    color: rgb(255, 180, 0);
    padding: 0 0.5em;
    display: block;
}

.pathChance {
    color: lawngreen;
    padding: 0 0.5em;
    display: block;
}

.pathMode {
    color: deepskyblue;
    padding-left: 0.5em;
    display: block;
}

.pathAction {
    color: rgb(220, 50, 50);
    display: block;
    padding: 0 0.5em;
}

#contextMenuList {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    position: absolute;
    z-index: 10;
    padding: 0.3rem;
    overflow: hidden;
}

.ctxButton {
    border: none;
    background-color: rgb(30, 30, 30);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
    transition-duration: 0.2s;
    transition-property: background-color, color, outline-color;
    white-space: nowrap;
    outline: 0.1em solid transparent;
}

.ctxButton:not(:first-child) {
    border-top: 0.1em solid gray;
}

.ctxButton:hover {
    background-color: rgb(50, 50, 50);
    color: rgb(200, 50, 255);
}

.ctxButton:focus {
    outline-color: rgb(60, 130, 210);
    z-index: 1;
}

#ctxSortByButton, #ctxSetAsSecondary {
    display: none;
}

#outputCont, #unitGraphCont, #appInfoCont {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 3vh;
    overflow-y: auto;
}

.outputRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.3em;
}

.outputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.3em;
}

#notice {
    width: 100vw;
    max-width: 95vw;
    font-size: 2rem;
    display: block;
    margin-top: 1em;
}

.chanceCont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.3em;
}

#outputCont > .pathItem {
    font-size: 1.5em;
    font-weight: bold;
}

#outputCont > .pathMode {
    font-size: 1.25em;
    font-weight: bold;
}

#outputCont > br {
    user-select: none;
}

.ammoUnit {
    font-weight: bold;
    cursor: pointer;
    color: rgb(200, 0, 255);
}

#graphTitle {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 180, 0);
}

#unitGraphTable {
    border-collapse: collapse;
    /*display: block;*/
    overflow: scroll;
}

tr, td {
    border: none;
}

.graphRow {
    padding: 0.2em;
}

.graphInput {
    color: rgb(255, 180, 0);
    padding: 0.2em;
    border-top: 0.1em solid rgb(255, 50, 0);
    border-right: 0.1em solid rgb(0, 255, 50);
    word-wrap: anywhere;
}

.graphHeader {
    color: rgb(255, 180, 0);
    text-align: center;
    border-right: 0.1em solid rgb(0, 255, 50);
    word-wrap: anywhere;
}

.graphHeaderItem {
    color: deepskyblue;
    border-left: 0.1em solid rgb(0, 255, 255);
    padding: 0.2em;
    word-wrap: anywhere;
}

.graphCell {
    border-top: 0.1em solid rgb(255, 100, 0);
    border-left: 0.1em solid rgb(150, 150, 150);
}

#appInfoCont a {
    cursor: pointer;
    text-decoration: rgb(20, 50, 255) underline 0.1em;
    color: dodgerblue;
}

#appInfoCont button {
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    color: dodgerblue;
}

#graphInfo {
    max-width: 80vw;
}

@keyframes logoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        display: grid;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
